In [1]:
import pandas as pn

In [2]:
base_data = pn.read_csv("../Full_Covid_Data.csv")

base_data

,Unnamed: 0,countyFIPS,County Name_deaths,State,StateFIPS_deaths,2020-01-22_deaths,2020-01-23_deaths,2020-01-24_deaths,2020-01-25_deaths,2020-01-26_deaths,...,2023-07-16_cases,2023-07-17_cases,2023-07-18_cases,2023-07-19_cases,2023-07-20_cases,2023-07-21_cases,2023-07-22_cases,2023-07-23_cases,County Name,population
0,0,0,Statewide Unallocated,AL,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Statewide Unallocated,0
1,1,1001,Autauga County,AL,1,0,0,0,0,0,...,235,235,235,235,235,235,235,235,Autauga County,55869
2,2,1003,Baldwin County,AL,1,0,0,0,0,0,...,731,731,731,731,731,731,731,731,Baldwin County,223234
3,3,1005,Barbour County,AL,1,0,0,0,0,0,...,104,104,104,104,104,104,104,104,Barbour County,24686
4,4,1007,Bibb County,AL,1,0,0,0,0,0,...,111,111,111,111,111,111,111,111,Bibb County,22394
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,3188,56037,Sweetwater County,WY,56,0,0,0,0,0,...,142,142,142,142,142,142,142,142,Sweetwater County,42343
3189,3189,56039,Teton County,WY,56,0,0,0,0,0,...,16,16,16,16,16,16,16,16,Teton County,23464
3190,3190,56041,Uinta County,WY,56,0,0,0,0,0,...,43,43,43,43,43,43,43,43,Uinta County,20226
3191,3191,56043,Washakie County,WY,56,0,0,0,0,0,...,51,51,51,51,51,51,51,51,Washakie County,7805
3192,3192,56045,Weston County,WY,56,0,0,0,0,0,...,24,24,24,24,24,24,24,24,Weston County,6927

In [3]:
enrichment_data = pn.read_csv("Demographic_And_Housing-Data.csv", index_col = "GEO_ID")

enrichment_data

,NAME,DP05_0001E,DP05_0001M,DP05_0002E,DP05_0002M,DP05_0003E,DP05_0003M,DP05_0004E,DP05_0004M,DP05_0005E,...,DP05_0087PM,DP05_0088PE,DP05_0088PM,DP05_0089PE,DP05_0089PM,DP05_0090PE,DP05_0090PM,DP05_0091PE,DP05_0091PM,Unnamed: 366
GEO_ID,,,,,,,,,,,,,,,,,,,,,
Geography,Geographic Area Name,Estimate!!SEX AND AGE!!Total population,Margin of Error!!SEX AND AGE!!Total population,Estimate!!SEX AND AGE!!Total population!!Male,Margin of Error!!SEX AND AGE!!Total population...,Estimate!!SEX AND AGE!!Total population!!Female,Margin of Error!!SEX AND AGE!!Total population...,Estimate!!SEX AND AGE!!Total population!!Sex r...,Margin of Error!!SEX AND AGE!!Total population...,Estimate!!SEX AND AGE!!Total population!!Under...,...,Percent Margin of Error!!HISPANIC OR LATINO AN...,Percent!!Total housing units,Percent Margin of Error!!Total housing units,"Percent!!CITIZEN, VOTING AGE POPULATION!!Citiz...","Percent Margin of Error!!CITIZEN, VOTING AGE P...","Percent!!CITIZEN, VOTING AGE POPULATION!!Citiz...","Percent Margin of Error!!CITIZEN, VOTING AGE P...","Percent!!CITIZEN, VOTING AGE POPULATION!!Citiz...","Percent Margin of Error!!CITIZEN, VOTING AGE P...",NaN
0500000US01003,"Baldwin County, Alabama",246435,*****,120664,1277,125771,1277,95.9,2.0,12553,...,0.9,(X),(X),189876,(X),48.1,0.4,51.9,0.4,NaN
0500000US01015,"Calhoun County, Alabama",115788,*****,56554,791,59234,791,95.5,2.6,6661,...,0.8,(X),(X),90642,(X),47.8,0.3,52.2,0.3,NaN
0500000US01043,"Cullman County, Alabama",90665,*****,45051,622,45614,622,98.8,2.7,5449,...,0.6,(X),(X),69096,(X),49.0,0.6,51.0,0.6,NaN
0500000US01049,"DeKalb County, Alabama",71998,*****,36024,566,35974,566,100.1,3.2,4031,...,0.6,(X),(X),52110,(X),49.6,0.9,50.4,0.9,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0500000US72113,"Ponce Municipio, Puerto Rico",132138,*****,62755,*****,69383,*****,90.4,*****,4384,...,N,(X),(X),108813,(X),46.9,0.2,53.1,0.2,NaN
0500000US72127,"San Juan Municipio, Puerto Rico",334776,*****,152697,*****,182079,*****,83.9,*****,10705,...,0.3,(X),(X),267707,(X),44.4,0.4,55.6,0.4,NaN
0500000US72135,"Toa Alta Municipio, Puerto Rico",66041,*****,30992,507,35049,507,88.4,2.7,1898,...,N,(X),(X),54929,(X),47.0,0.2,53.0,0.2,NaN
0500000US72137,"Toa Baja Municipio, Puerto Rico",72783,*****,34120,462,38663,462,88.2,2.3,2166,...,N,(X),(X),59675,(X),44.9,0.7,55.1,0.7,NaN
0500000US72139,"Trujillo Alto Municipio, Puerto Rico",66810,*****,31251,1847,35559,1847,87.9,9.7,3161,...,N,(X),(X),55294,(X),46.4,0.9,53.6,0.9,NaN

In [4]:
metadata = pn.read_csv("Demographic_And_Housing-Column-Metadata.csv", index_col = "Column Name")

metadata

                                                         Label
Column Name
GEO_ID                                               Geography
NAME                                      Geographic Area Name
DP05_0001E             Estimate!!SEX AND AGE!!Total population
DP05_0001M      Margin of Error!!SEX AND AGE!!Total population
DP05_0002E       Estimate!!SEX AND AGE!!Total population!!Male
...                                                        ...
DP05_0089PM  Percent Margin of Error!!CITIZEN, VOTING AGE P...
DP05_0090PE  Percent!!CITIZEN, VOTING AGE POPULATION!!Citiz...
DP05_0090PM  Percent Margin of Error!!CITIZEN, VOTING AGE P...
DP05_0091PE  Percent!!CITIZEN, VOTING AGE POPULATION!!Citiz...
DP05_0091PM  Percent Margin of Error!!CITIZEN, VOTING AGE P...

[366 rows x 1 columns]

# Create transformer to get index of enrichment data from covid data

In [5]:
base_transformer_data = '''Alabama	AL	Ala.
Alaska	AK	Alaska
Arizona	AZ	Ariz.
Arkansas	AR	Ark.
California	CA	Calif.
Colorado	CO	Colo.
Connecticut	CT	Conn.
Delaware	DE	Del.
Florida	FL	Fla.
Georgia	GA	Ga.
Hawaii	HI	Hawaii
Idaho	ID	Idaho
Illinois	IL	Ill.
Indiana	IN	Ind.
Iowa	IA	Iowa
Kansas	KS	Kans.
Kentucky	KY	Ky.
Louisiana	LA	La.
Maine	ME	Maine
Maryland	MD	Md.
Massachusetts	MA	Mass.
Michigan	MI	Mich.
Minnesota	MN	Minn.
Mississippi	MS	Miss.
Missouri	MO	Mo.
Montana	MT	Mont.
Nebraska	NE	Neb. or Nebr.
Nevada	NV	Nev.
New Hampshire	NH	N.H.
New Jersey	NJ	N.J.
New Mexico	NM	N.Mex.
New York	NY	N.Y.
North Carolina	NC	N.C.
North Dakota	ND	N.Dak.
Ohio	OH	Ohio
Oklahoma	OK	Okla.
Oregon	OR	Ore. or Oreg.
Pennsylvania	PA	Pa.
Rhode Island	RI	R.I.
South Carolina	SC	S.C.
South Dakota	SD	S.Dak.
Tennessee	TN	Tenn.
Texas	TX	Tex. or Texas
Utah	UT	Utah
Vermont	VT	Vt.
Virginia	VA	Va.
Washington	WA	Wash.
West Virginia	WV	W.Va.
Wisconsin	WI	Wis. or Wisc.
Wyoming	WY	Wyo.'''

#source: https://www.yourdictionary.com/articles/state-abbreviations

In [6]:
#Split on new line

lines = base_transformer_data.split("\n")
lines

['Alabama\tAL\tAla.',
 'Alaska\tAK\tAlaska',
 'Arizona\tAZ\tAriz.',
 'Arkansas\tAR\tArk.',
 'California\tCA\tCalif.',
 'Colorado\tCO\tColo.',
 'Connecticut\tCT\tConn.',
 'Delaware\tDE\tDel.',
 'Florida\tFL\tFla.',
 'Georgia\tGA\tGa.',
 'Hawaii\tHI\tHawaii',
 'Idaho\tID\tIdaho',
 'Illinois\tIL\tIll.',
 'Indiana\tIN\tInd.',
 'Iowa\tIA\tIowa',
 'Kansas\tKS\tKans.',
 'Kentucky\tKY\tKy.',
 'Louisiana\tLA\tLa.',
 'Maine\tME\tMaine',
 'Maryland\tMD\tMd.',
 'Massachusetts\tMA\tMass.',
 'Michigan\tMI\tMich.',
 'Minnesota\tMN\tMinn.',
 'Mississippi\tMS\tMiss.',
 'Missouri\tMO\tMo.',
 'Montana\tMT\tMont.',
 'Nebraska\tNE\tNeb. or Nebr.',
 'Nevada\tNV\tNev.',
 'New Hampshire\tNH\tN.H.',
 'New Jersey\tNJ\tN.J.',
 'New Mexico\tNM\tN.Mex.',
 'New York\tNY\tN.Y.',
 'North Carolina\tNC\tN.C.',
 'North Dakota\tND\tN.Dak.',
 'Ohio\tOH\tOhio',
 'Oklahoma\tOK\tOkla.',
 'Oregon\tOR\tOre. or Oreg.',
 'Pennsylvania\tPA\tPa.',
 'Rhode Island\tRI\tR.I.',
 'South Carolina\tSC\tS.C.',
 'South Dakota\tSD\tS.Dak.',
 'Tennessee\tTN\tTenn.',
 'Texas\tTX\tTex. or Texas',
 'Utah\tUT\tUtah',
 'Vermont\tVT\tVt.',
 'Virginia\tVA\tVa.',
 'Washington\tWA\tWash.',
 'West Virginia\tWV\tW.Va.',
 'Wisconsin\tWI\tWis. or Wisc.',
 'Wyoming\tWY\tWyo.']

In [7]:
#Split line data on tab
dictonary = dict()
for i in range(len(lines)):
    tmp = lines[i]
    tmp_split = tmp.split("\t")
    print(tmp_split)
    dictonary[tmp_split[1]] = tmp_split[0]

dictonary

['Alabama', 'AL', 'Ala.']
['Alaska', 'AK', 'Alaska']
['Arizona', 'AZ', 'Ariz.']
['Arkansas', 'AR', 'Ark.']
['California', 'CA', 'Calif.']
['Colorado', 'CO', 'Colo.']
['Connecticut', 'CT', 'Conn.']
['Delaware', 'DE', 'Del.']
['Florida', 'FL', 'Fla.']
['Georgia', 'GA', 'Ga.']
['Hawaii', 'HI', 'Hawaii']
['Idaho', 'ID', 'Idaho']
['Illinois', 'IL', 'Ill.']
['Indiana', 'IN', 'Ind.']
['Iowa', 'IA', 'Iowa']
['Kansas', 'KS', 'Kans.']
['Kentucky', 'KY', 'Ky.']
['Louisiana', 'LA', 'La.']
['Maine', 'ME', 'Maine']
['Maryland', 'MD', 'Md.']
['Massachusetts', 'MA', 'Mass.']
['Michigan', 'MI', 'Mich.']
['Minnesota', 'MN', 'Minn.']
['Mississippi', 'MS', 'Miss.']
['Missouri', 'MO', 'Mo.']
['Montana', 'MT', 'Mont.']
['Nebraska', 'NE', 'Neb. or Nebr.']
['Nevada', 'NV', 'Nev.']
['New Hampshire', 'NH', 'N.H.']
['New Jersey', 'NJ', 'N.J.']
['New Mexico', 'NM', 'N.Mex.']
['New York', 'NY', 'N.Y.']
['North Carolina', 'NC', 'N.C.']
['North Dakota', 'ND', 'N.Dak.']
['Ohio', 'OH', 'Ohio']
['Oklahoma', 'OK', 'Okla.']
['Oregon', 'OR', 'Ore. or Oreg.']
['Pennsylvania', 'PA', 'Pa.']
['Rhode Island', 'RI', 'R.I.']
['South Carolina', 'SC', 'S.C.']
['South Dakota', 'SD', 'S.Dak.']
['Tennessee', 'TN', 'Tenn.']
['Texas', 'TX', 'Tex. or Texas']
['Utah', 'UT', 'Utah']
['Vermont', 'VT', 'Vt.']
['Virginia', 'VA', 'Va.']
['Washington', 'WA', 'Wash.']
['West Virginia', 'WV', 'W.Va.']
['Wisconsin', 'WI', 'Wis. or Wisc.']
['Wyoming', 'WY', 'Wyo.']

{'AL': 'Alabama',
 'AK': 'Alaska',
 'AZ': 'Arizona',
 'AR': 'Arkansas',
 'CA': 'California',
 'CO': 'Colorado',
 'CT': 'Connecticut',
 'DE': 'Delaware',
 'FL': 'Florida',
 'GA': 'Georgia',
 'HI': 'Hawaii',
 'ID': 'Idaho',
 'IL': 'Illinois',
 'IN': 'Indiana',
 'IA': 'Iowa',
 'KS': 'Kansas',
 'KY': 'Kentucky',
 'LA': 'Louisiana',
 'ME': 'Maine',
 'MD': 'Maryland',
 'MA': 'Massachusetts',
 'MI': 'Michigan',
 'MN': 'Minnesota',
 'MS': 'Mississippi',
 'MO': 'Missouri',
 'MT': 'Montana',
 'NE': 'Nebraska',
 'NV': 'Nevada',
 'NH': 'New Hampshire',
 'NJ': 'New Jersey',
 'NM': 'New Mexico',
 'NY': 'New York',
 'NC': 'North Carolina',
 'ND': 'North Dakota',
 'OH': 'Ohio',
 'OK': 'Oklahoma',
 'OR': 'Oregon',
 'PA': 'Pennsylvania',
 'RI': 'Rhode Island',
 'SC': 'South Carolina',
 'SD': 'South Dakota',
 'TN': 'Tennessee',
 'TX': 'Texas',
 'UT': 'Utah',
 'VT': 'Vermont',
 'VA': 'Virginia',
 'WA': 'Washington',
 'WV': 'West Virginia',
 'WI': 'Wisconsin',
 'WY': 'Wyoming'}

In [8]:
dictonary

{'AL': 'Alabama',
 'AK': 'Alaska',
 'AZ': 'Arizona',
 'AR': 'Arkansas',
 'CA': 'California',
 'CO': 'Colorado',
 'CT': 'Connecticut',
 'DE': 'Delaware',
 'FL': 'Florida',
 'GA': 'Georgia',
 'HI': 'Hawaii',
 'ID': 'Idaho',
 'IL': 'Illinois',
 'IN': 'Indiana',
 'IA': 'Iowa',
 'KS': 'Kansas',
 'KY': 'Kentucky',
 'LA': 'Louisiana',
 'ME': 'Maine',
 'MD': 'Maryland',
 'MA': 'Massachusetts',
 'MI': 'Michigan',
 'MN': 'Minnesota',
 'MS': 'Mississippi',
 'MO': 'Missouri',
 'MT': 'Montana',
 'NE': 'Nebraska',
 'NV': 'Nevada',
 'NH': 'New Hampshire',
 'NJ': 'New Jersey',
 'NM': 'New Mexico',
 'NY': 'New York',
 'NC': 'North Carolina',
 'ND': 'North Dakota',
 'OH': 'Ohio',
 'OK': 'Oklahoma',
 'OR': 'Oregon',
 'PA': 'Pennsylvania',
 'RI': 'Rhode Island',
 'SC': 'South Carolina',
 'SD': 'South Dakota',
 'TN': 'Tennessee',
 'TX': 'Texas',
 'UT': 'Utah',
 'VT': 'Vermont',
 'VA': 'Virginia',
 'WA': 'Washington',
 'WV': 'West Virginia',
 'WI': 'Wisconsin',
 'WY': 'Wyoming'}

In [9]:
print(base_data.keys())

Index(['Unnamed: 0', 'countyFIPS', 'County Name_deaths', 'State',
       'StateFIPS_deaths', '2020-01-22_deaths', '2020-01-23_deaths',
       '2020-01-24_deaths', '2020-01-25_deaths', '2020-01-26_deaths',
       ...
       '2023-07-16_cases', '2023-07-17_cases', '2023-07-18_cases',
       '2023-07-19_cases', '2023-07-20_cases', '2023-07-21_cases',
       '2023-07-22_cases', '2023-07-23_cases', 'County Name', 'population'],
      dtype='object', length=2539)

In [10]:
#Got ideas for how to do this from https://www.geeksforgeeks.org/using-dictionary-to-remap-values-in-pandas-dataframe-columns/
#and from https://stackoverflow.com/questions/32675861/copy-all-values-in-a-column-to-a-new-column-in-a-pandas-dataframe

#And https://stackoverflow.com/questions/20461165/how-to-convert-index-of-a-pandas-dataframe-into-a-column for getting the index to work


base_data["State Full Name"] = base_data["State"]

base_data = base_data.replace({"State Full Name" : dictonary})

In [11]:
base_data

,Unnamed: 0,countyFIPS,County Name_deaths,State,StateFIPS_deaths,2020-01-22_deaths,2020-01-23_deaths,2020-01-24_deaths,2020-01-25_deaths,2020-01-26_deaths,...,2023-07-17_cases,2023-07-18_cases,2023-07-19_cases,2023-07-20_cases,2023-07-21_cases,2023-07-22_cases,2023-07-23_cases,County Name,population,State Full Name
0,0,0,Statewide Unallocated,AL,1,0,0,0,0,0,...,0,0,0,0,0,0,0,Statewide Unallocated,0,Alabama
1,1,1001,Autauga County,AL,1,0,0,0,0,0,...,235,235,235,235,235,235,235,Autauga County,55869,Alabama
2,2,1003,Baldwin County,AL,1,0,0,0,0,0,...,731,731,731,731,731,731,731,Baldwin County,223234,Alabama
3,3,1005,Barbour County,AL,1,0,0,0,0,0,...,104,104,104,104,104,104,104,Barbour County,24686,Alabama
4,4,1007,Bibb County,AL,1,0,0,0,0,0,...,111,111,111,111,111,111,111,Bibb County,22394,Alabama
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,3188,56037,Sweetwater County,WY,56,0,0,0,0,0,...,142,142,142,142,142,142,142,Sweetwater County,42343,Wyoming
3189,3189,56039,Teton County,WY,56,0,0,0,0,0,...,16,16,16,16,16,16,16,Teton County,23464,Wyoming
3190,3190,56041,Uinta County,WY,56,0,0,0,0,0,...,43,43,43,43,43,43,43,Uinta County,20226,Wyoming
3191,3191,56043,Washakie County,WY,56,0,0,0,0,0,...,51,51,51,51,51,51,51,Washakie County,7805,Wyoming
3192,3192,56045,Weston County,WY,56,0,0,0,0,0,...,24,24,24,24,24,24,24,Weston County,6927,Wyoming

# Create key for merging by making [County Name] + ", " + [State Full Name]

In [12]:
base_data["Merge_Key"] = base_data["County Name"] + ", " + base_data["State Full Name"]

base_data

,Unnamed: 0,countyFIPS,County Name_deaths,State,StateFIPS_deaths,2020-01-22_deaths,2020-01-23_deaths,2020-01-24_deaths,2020-01-25_deaths,2020-01-26_deaths,...,2023-07-18_cases,2023-07-19_cases,2023-07-20_cases,2023-07-21_cases,2023-07-22_cases,2023-07-23_cases,County Name,population,State Full Name,Merge_Key
0,0,0,Statewide Unallocated,AL,1,0,0,0,0,0,...,0,0,0,0,0,0,Statewide Unallocated,0,Alabama,"Statewide Unallocated, Alabama"
1,1,1001,Autauga County,AL,1,0,0,0,0,0,...,235,235,235,235,235,235,Autauga County,55869,Alabama,"Autauga County, Alabama"
2,2,1003,Baldwin County,AL,1,0,0,0,0,0,...,731,731,731,731,731,731,Baldwin County,223234,Alabama,"Baldwin County, Alabama"
3,3,1005,Barbour County,AL,1,0,0,0,0,0,...,104,104,104,104,104,104,Barbour County,24686,Alabama,"Barbour County, Alabama"
4,4,1007,Bibb County,AL,1,0,0,0,0,0,...,111,111,111,111,111,111,Bibb County,22394,Alabama,"Bibb County, Alabama"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,3188,56037,Sweetwater County,WY,56,0,0,0,0,0,...,142,142,142,142,142,142,Sweetwater County,42343,Wyoming,"Sweetwater County, Wyoming"
3189,3189,56039,Teton County,WY,56,0,0,0,0,0,...,16,16,16,16,16,16,Teton County,23464,Wyoming,"Teton County, Wyoming"
3190,3190,56041,Uinta County,WY,56,0,0,0,0,0,...,43,43,43,43,43,43,Uinta County,20226,Wyoming,"Uinta County, Wyoming"
3191,3191,56043,Washakie County,WY,56,0,0,0,0,0,...,51,51,51,51,51,51,Washakie County,7805,Wyoming,"Washakie County, Wyoming"
3192,3192,56045,Weston County,WY,56,0,0,0,0,0,...,24,24,24,24,24,24,Weston County,6927,Wyoming,"Weston County, Wyoming"

In [13]:
enrichment_data["NAME"]

GEO_ID
Geography                         Geographic Area Name
0500000US01003                 Baldwin County, Alabama
0500000US01015                 Calhoun County, Alabama
0500000US01043                 Cullman County, Alabama
0500000US01049                  DeKalb County, Alabama
                                  ...
0500000US72113            Ponce Municipio, Puerto Rico
0500000US72127         San Juan Municipio, Puerto Rico
0500000US72135         Toa Alta Municipio, Puerto Rico
0500000US72137         Toa Baja Municipio, Puerto Rico
0500000US72139    Trujillo Alto Municipio, Puerto Rico
Name: NAME, Length: 849, dtype: object

In [14]:
merged_data = pn.merge(left = base_data, right = enrichment_data, left_on = "Merge_Key", right_on = "NAME")

merged_data

,Unnamed: 0,countyFIPS,County Name_deaths,State,StateFIPS_deaths,2020-01-22_deaths,2020-01-23_deaths,2020-01-24_deaths,2020-01-25_deaths,2020-01-26_deaths,...,DP05_0087PM,DP05_0088PE,DP05_0088PM,DP05_0089PE,DP05_0089PM,DP05_0090PE,DP05_0090PM,DP05_0091PE,DP05_0091PM,Unnamed: 366
0,2,1003,Baldwin County,AL,1,0,0,0,0,0,...,0.9,(X),(X),189876,(X),48.1,0.4,51.9,0.4,NaN
1,8,1015,Calhoun County,AL,1,0,0,0,0,0,...,0.8,(X),(X),90642,(X),47.8,0.3,52.2,0.3,NaN
2,22,1043,Cullman County,AL,1,0,0,0,0,0,...,0.6,(X),(X),69096,(X),49.0,0.6,51.0,0.6,NaN
3,25,1049,DeKalb County,AL,1,0,0,0,0,0,...,0.6,(X),(X),52110,(X),49.6,0.9,50.4,0.9,NaN
4,26,1051,Elmore County,AL,1,0,0,0,0,0,...,1.4,(X),(X),69952,(X),47.8,0.5,52.2,0.5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
809,3164,55133,Waukesha County,WI,55,0,0,0,0,0,...,0.4,(X),(X),317977,(X),49.5,0.2,50.5,0.2,NaN
810,3167,55139,Winnebago County,WI,55,0,0,0,0,0,...,0.6,(X),(X),134656,(X),50.6,0.4,49.4,0.4,NaN
811,3168,55141,Wood County,WI,55,0,0,0,0,0,...,0.6,(X),(X),56907,(X),50.2,0.7,49.8,0.7,NaN
812,3180,56021,Laramie County,WY,56,0,0,0,0,0,...,0.7,(X),(X),77414,(X),50.6,0.7,49.4,0.7,NaN
813,3182,56025,Natrona County,WY,56,0,0,0,0,0,...,1.0,(X),(X),60269,(X),50.0,1.1,50.0,1.1,NaN

In [16]:
merged_data.to_csv("Merged_Housing_Data.csv")