In [1]:
import pandas as pd

# Get initial data

In [2]:
deaths = pd.read_csv("covid_deaths_usafacts.csv")
population = pd.read_csv("covid_county_population_usafacts.csv")
infection = pd.read_csv("covid_confirmed_usafacts.csv")

In [3]:
deaths

,countyFIPS,County Name,State,StateFIPS,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,...,2023-07-14,2023-07-15,2023-07-16,2023-07-17,2023-07-18,2023-07-19,2023-07-20,2023-07-21,2023-07-22,2023-07-23
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,235,235,235,235,235,235,235,235,235,235
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,731,731,731,731,731,731,731,731,731,731
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,104,104,104,104,104,104,104,104,104,104
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,111,111,111,111,111,111,111,111,111,111
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,56037,Sweetwater County,WY,56,0,0,0,0,0,0,...,142,142,142,142,142,142,142,142,142,142
3189,56039,Teton County,WY,56,0,0,0,0,0,0,...,16,16,16,16,16,16,16,16,16,16
3190,56041,Uinta County,WY,56,0,0,0,0,0,0,...,43,43,43,43,43,43,43,43,43,43
3191,56043,Washakie County,WY,56,0,0,0,0,0,0,...,51,51,51,51,51,51,51,51,51,51
3192,56045,Weston County,WY,56,0,0,0,0,0,0,...,24,24,24,24,24,24,24,24,24,24

In [5]:
population

      countyFIPS            County Name State  population
0              0  Statewide Unallocated    AL           0
1           1001         Autauga County    AL       55869
2           1003         Baldwin County    AL      223234
3           1005         Barbour County    AL       24686
4           1007            Bibb County    AL       22394
...          ...                    ...   ...         ...
3190       56037      Sweetwater County    WY       42343
3191       56039           Teton County    WY       23464
3192       56041           Uinta County    WY       20226
3193       56043        Washakie County    WY        7805
3194       56045          Weston County    WY        6927

[3195 rows x 4 columns]

In [6]:
infection

,countyFIPS,County Name,State,StateFIPS,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,...,2023-07-14,2023-07-15,2023-07-16,2023-07-17,2023-07-18,2023-07-19,2023-07-20,2023-07-21,2023-07-22,2023-07-23
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,19913,19913,19913,19913,19913,19913,19913,19913,19913,19913
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,70521,70521,70521,70521,70521,70521,70521,70521,70521,70521
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,7582,7582,7582,7582,7582,7582,7582,7582,7582,7582
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,8149,8149,8149,8149,8149,8149,8149,8149,8149,8149
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,56037,Sweetwater County,WY,56,0,0,0,0,0,0,...,12645,12645,12645,12645,12645,12645,12645,12645,12645,12645
3189,56039,Teton County,WY,56,0,0,0,0,0,0,...,12206,12206,12206,12206,12206,12206,12206,12206,12206,12206
3190,56041,Uinta County,WY,56,0,0,0,0,0,0,...,6468,6468,6468,6468,6468,6468,6468,6468,6468,6468
3191,56043,Washakie County,WY,56,0,0,0,0,0,0,...,2640,2640,2640,2640,2640,2640,2640,2640,2640,2640
3192,56045,Weston County,WY,56,0,0,0,0,0,0,...,1914,1914,1914,1914,1914,1914,1914,1914,1914,1914

# Limit data to Florida

In [4]:
deaths_fl = deaths[deaths["State"] == "FL"]
deaths_fl

,countyFIPS,County Name,State,StateFIPS,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,...,2023-07-14,2023-07-15,2023-07-16,2023-07-17,2023-07-18,2023-07-19,2023-07-20,2023-07-21,2023-07-22,2023-07-23
329,0,Statewide Unallocated,FL,12,0,0,0,0,0,0,...,52102,52102,52102,52102,52102,52102,52102,52102,52102,52102
330,12001,Alachua County,FL,12,0,0,0,0,0,0,...,285,285,285,285,285,285,285,285,285,285
331,12003,Baker County,FL,12,0,0,0,0,0,0,...,62,62,62,62,62,62,62,62,62,62
332,12005,Bay County,FL,12,0,0,0,0,0,0,...,394,394,394,394,394,394,394,394,394,394
333,12007,Bradford County,FL,12,0,0,0,0,0,0,...,58,58,58,58,58,58,58,58,58,58
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392,12125,Union County,FL,12,0,0,0,0,0,0,...,74,74,74,74,74,74,74,74,74,74
393,12127,Volusia County,FL,12,0,0,0,0,0,0,...,846,846,846,846,846,846,846,846,846,846
394,12129,Wakulla County,FL,12,0,0,0,0,0,0,...,56,56,56,56,56,56,56,56,56,56
395,12131,Walton County,FL,12,0,0,0,0,0,0,...,89,89,89,89,89,89,89,89,89,89
396,12133,Washington County,FL,12,0,0,0,0,0,0,...,52,52,52,52,52,52,52,52,52,52

In [6]:
pop_fl =  population[population["State"] == "FL"]
pop_fl

     countyFIPS            County Name State  population
330           0  Statewide Unallocated    FL           0
331       12001         Alachua County    FL      269043
332       12003           Baker County    FL       29210
333       12005             Bay County    FL      174705
334       12007        Bradford County    FL       28201
..          ...                    ...   ...         ...
393       12125           Union County    FL       15237
394       12127         Volusia County    FL      553284
395       12129         Wakulla County    FL       33739
396       12131          Walton County    FL       74071
397       12133      Washington County    FL       25473

[68 rows x 4 columns]

In [7]:
infection_fl = infection[infection["State"] == "FL"]

infection_fl

,countyFIPS,County Name,State,StateFIPS,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,...,2023-07-14,2023-07-15,2023-07-16,2023-07-17,2023-07-18,2023-07-19,2023-07-20,2023-07-21,2023-07-22,2023-07-23
329,0,Statewide Unallocated,FL,12,0,0,0,0,0,0,...,20363,20363,20363,20363,20363,20363,20363,20363,20363,20363
330,12001,Alachua County,FL,12,0,0,0,0,0,0,...,90634,90634,90634,90634,90634,90634,90634,90634,90634,90634
331,12003,Baker County,FL,12,0,0,0,0,0,0,...,10787,10787,10787,10787,10787,10787,10787,10787,10787,10787
332,12005,Bay County,FL,12,0,0,0,0,0,0,...,55836,55836,55836,55836,55836,55836,55836,55836,55836,55836
333,12007,Bradford County,FL,12,0,0,0,0,0,0,...,9324,9324,9324,9324,9324,9324,9324,9324,9324,9324
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392,12125,Union County,FL,12,0,0,0,0,0,0,...,5140,5140,5140,5140,5140,5140,5140,5140,5140,5140
393,12127,Volusia County,FL,12,0,0,0,0,0,0,...,152326,152326,152326,152326,152326,152326,152326,152326,152326,152326
394,12129,Wakulla County,FL,12,0,0,0,0,0,0,...,12314,12314,12314,12314,12314,12314,12314,12314,12314,12314
395,12131,Walton County,FL,12,0,0,0,0,0,0,...,19888,19888,19888,19888,19888,19888,19888,19888,19888,19888
396,12133,Washington County,FL,12,0,0,0,0,0,0,...,7731,7731,7731,7731,7731,7731,7731,7731,7731,7731

# Get last week of data

Got basic information on how to do this from https://pandas.pydata.org/docs/user_guide/indexing.html

In [11]:
infection_fl_week = infection_fl.iloc[: , -7 : ]
infection_fl_week

,2023-07-17,2023-07-18,2023-07-19,2023-07-20,2023-07-21,2023-07-22,2023-07-23
329,20363,20363,20363,20363,20363,20363,20363
330,90634,90634,90634,90634,90634,90634,90634
331,10787,10787,10787,10787,10787,10787,10787
332,55836,55836,55836,55836,55836,55836,55836
333,9324,9324,9324,9324,9324,9324,9324
...,...,...,...,...,...,...,...
392,5140,5140,5140,5140,5140,5140,5140
393,152326,152326,152326,152326,152326,152326,152326
394,12314,12314,12314,12314,12314,12314,12314
395,19888,19888,19888,19888,19888,19888,19888
396,7731,7731,7731,7731,7731,7731,7731

In [12]:
deaths_fl_week = deaths_fl.iloc[: , -7 : ]
deaths_fl_week

,2023-07-17,2023-07-18,2023-07-19,2023-07-20,2023-07-21,2023-07-22,2023-07-23
329,52102,52102,52102,52102,52102,52102,52102
330,285,285,285,285,285,285,285
331,62,62,62,62,62,62,62
332,394,394,394,394,394,394,394
333,58,58,58,58,58,58,58
...,...,...,...,...,...,...,...
392,74,74,74,74,74,74,74
393,846,846,846,846,846,846,846
394,56,56,56,56,56,56,56
395,89,89,89,89,89,89,89
396,52,52,52,52,52,52,52

# Sum data

In [15]:
fl_total_deaths = deaths_fl_week[:].sum()
fl_total_deaths

2023-07-17    89075
2023-07-18    89075
2023-07-19    89075
2023-07-20    89075
2023-07-21    89075
2023-07-22    89075
2023-07-23    89075
dtype: int64

## Floridas deaths are the same each day. This indicates that they are not updating the data rather than the deaths being steady.

In [26]:
fl_total_infections = infection_fl_week[:].sum()
fl_total_infections

2023-07-17    7627999
2023-07-18    7627999
2023-07-19    7627999
2023-07-20    7627999
2023-07-21    7627999
2023-07-22    7627999
2023-07-23    7627999
dtype: int64

## Same for infections.

# Conclusion: On paper, both deaths and population are stable. In reality: We have no good information on the change over this week because the data is not being updated